
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 20px;
    border-radius: 20px;
}

ul{
    list-style-type: none;
    display: flex;
}
.menu li {
    display: inline;
    margin-right: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    padding: 10%;
}

.menu li a:hover {
    background-color: gray;
    border-radius: 30%;
}

/* Estilos del contenido principal */
main {
    padding:0;
    margin: 0;
}

.info {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: space-around;
}

.info h3 {
    margin-top: 0;
}

.info p {
    margin-bottom: 20px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}
.contenedor{
    max-width: 1200px;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
}

.hotel{
    display: flex;
    padding: 10px;
    margin: 0;
    margin-top: 50px;
    flex-wrap: wrap;
    padding-bottom: 50px;
    flex: 0 1 30%;
}
#img1 , #img2, #img3{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

/* Estilos del footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.footer .logo img {
    width: 50px;
    height: auto;
}

.logo h3{
    color:#fc5474;
    font-family: monospace;
    padding-left: 20px;
}
.logo{
    display: flex;
}

.contact img{
    width: 100%;
    height: 300px; 
}
form {
    width: 500px; /* Ancho del formulario */
    margin: 0 auto; /* Centrar el formulario horizontalmente */
    padding: 20px; /* Espacio interno del formulario */   
}

/* Estilos para las etiquetas de los campos */
label {
    display: block; /* Mostrar las etiquetas en una nueva línea */
    margin-bottom: 5px; /* Espacio inferior */
    font-family: monospace;
    font-size: 15px;
    color: grey;

}

/* Estilos para el formulario */
form {
    width: 80%; /* Ancho del formulario (80% del ancho del contenedor padre) */
    max-width: 800px; /* Ancho máximo del formulario */
    margin: 90px; /* Centrar horizontalmente */
    margin-left: 200px;
    padding: 20px; /* Espacio interno */
    box-sizing: border-box; /* Incluir el relleno y el borde en el tamaño total */
}

/* Estilos para las etiquetas de los campos */
label {
    display: block; /* Mostrar en una nueva línea */
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 5px; /* Espacio inferior */
}

/* Estilos para los campos de entrada y textarea */
input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Ancho completo */
    padding: 8px; /* Espacio interno */
    margin-bottom: 10px; /* Espacio inferior */
    border: 1px solid #ccc; /* Borde */
    border-radius: 3px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluir el relleno y el borde en el tamaño total */
    background-color: #d3d3d3;
}

/* Estilos para el botón de enviar */
input[type="submit"] {
    width: 40%; /* Ancho completo */
    margin:0 auto ; /* Centrar horizontalmente */
    padding: 10px; /* Espacio interno */
    background-color: #fc5474; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 3px; /* Bordes redondeados */
    cursor: pointer; /* Cursor apuntador */
}

/* Estilos para el botón de enviar al pasar el ratón */
input[type="submit"]:hover {
    background-color:  #fc6984; /* Color de fondo al pasar el ratón */}
    form {
        float: left;
        width: 50%; /* Ajusta el ancho del formulario según tu diseño */
    }

.iconos{
    display: flex;
    padding-top:130px ;    
}

.direccion{
    font-family: monospace;
}

.container{
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #484848;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);}

.texto{
    background-color: #fff;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.texto h1{
    color: #333;
}